section {
  text-align: center;
  padding: 43px 0 40px 0;
  color: $main-text;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.order {
  &__title {
    margin-bottom: 80px;
    font: $font-body;
    font-size: 36px;
    line-height: 1.22;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 14px;
  }

  &__item {
    max-width: 163px;
    width: 100%;
    padding-top: 105px;
    padding-right: 27px;
    position: relative;

    &:not(:last-child) {
      margin-right: 43px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 90px;
      height: 90px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;
      top: 0;
      left: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 35px;
      top: 26px;
      right: -18px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url('../../../img/icons/arrow-right.png');
    }

    &--phone::before {
      background-image: url('./../../img/icons/phone.png');
    }

    &--specialist::before {
      background-image: url('../../../img/icons/specialist.png');
    }

    &--contract::before {
      background-image: url('../../../img/icons/contract.png');
    }

    &--montage::before {
      background-image: url('../../../img/icons/montage.png');
    }

    &--security::before {
      background-image: url('../../../img/icons/security.png');
    }

    &--peace::before {
      background-image: url('../../../img/icons/peace.png');
    }

    &--peace::after {
      background-image: none;
    }
  }

}

.about {
  &__title {
    margin-bottom: 30px;
    font: $font-body;
    font-size: 36px;
    line-height: 1.22;
  }

  &__text {
    text-align: left;
    text-indent: 64px;
    margin-bottom: 30px;
    font-size: 22px;
    letter-spacing: 0.04em;

    span {
      font-weight: 600;
    }
  }

  &__award {
    align-items: center;
  }
}