.benefits {
  min-height: 315px;
  padding: 30px 0 40px;
  background: $white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;

  &__title {
    margin-bottom: 45px;
  }

  &__pagination {
    bottom: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__next{
    right: 43%;
  }

  &__prev{
    left: 43%;
  }

  &__img {
    width: 170px;
    height: 100px;
    object-fit: cover;
  }

  &__btn {
    position: absolute;
    bottom: 22px;

    &::after {
      color: #A5A5A5;
    }
  }
}

swiper-pagination-bullet-active{
  background: #A5A5A5;
}


