@mixin checkbox {
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    padding-left: 25px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid transparent;
      border-color: #000;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.73675 0.41916L4.00009 2.68249L6.26342 0.41916C6.49092 0.19166 6.85842 0.19166 7.08592 0.41916C7.31342 0.64666 7.31342 1.01416 7.08592 1.24166L4.40842 3.91916C4.18092 4.14666 3.81342 4.14666 3.58592 3.91916L0.908418 1.24166C0.680918 1.01416 0.680918 0.64666 0.908418 0.41916C1.13592 0.197493 1.50925 0.19166 1.73675 0.41916Z' fill='black'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-size: 8px 5px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.custom-checkbox__field:checked+.custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus+.custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled+.custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
}

