
  $white: #ffffff;
  $golden: #bf9366;
  $black: #000000;
  $hover: #c09d79;
  $disabled: #e2e2e2;
  $silver: #9d9d9d;
  $red: #bb0d0d;
  $form: #fdfbfa;
  $filter: #dadada;
  $border-form: #9d9d9d;

// FONTS
$font-light: normal 300 18px/1.5 'Montserrat',
sans-serif;
$font-body: normal 400 18px/1.4 'Montserrat',
sans-serif;
$font-medium: normal 500 14px/1.1 'Montserrat',
sans-serif;
$font-btn: normal 400 20px/1.2 'Montserrat',
sans-serif;