$white: #ffffff;
$black: #000000;

$blue-900: #0F2E74;
$blue-200: #EFF6FF;

// FONTS

$font-body: normal 400 24px/1.2 'MontserratReg',
sans-serif;

$font-medium: normal 500 20px/1.2 'MontserratMed',
sans-serif;

$font-title: normal 600 36px/1.2 'MontserratSem',
sans-serif;